@media screen and (min-width: 762px) and (max-width: 1023px){
    .fundo{
        display: flex;
    }
    .fundo img{
        width: 450px;   
    }
    .img-fundo{
        margin-left: 0px;
    }
    .titulo{
        margin: auto ;
    }
    dialog button{
        margin-left: 27rem;        
    }
}
@media screen and (min-width: 1024px){
    .fundo{
        display: flex;
        height: 75vh;
    }
    .fundo img{
        width: 650px;   
    }
    .img-fundo{
        margin-left: 0px;
    }
    .titulo{
        margin: auto ;
        font-size: 34px;
    }
    dialog button{
        margin-left: 27rem;        
    }
}
@media screen and (max-width: 761px){
    .menu{
        display: none;
    }
    .menu-mobile{
        justify-content: space-around;
        display: inline-block;
        text-align: center;
        position: fixed;
        top: 0rem;
        z-index: 1;
        width: 100%;
        height: 70px; 
        color: transparent;
        background-color: #b33ab3;
        background-image: linear-gradient(270deg, #b33ab3 0%, #6a1fd8 100%);
        overflow: hidden;
        text-decoration: none;
        transition: ease-in-out 0.5s;
    }
    .menu-mobile a{
        font-size: 50px;
        text-decoration: none;
        color: #fff;
        transition: ease-in-out 0.5s;
        text-shadow: #000 2px 2px 5px;
    }
    .menu-mobile li{
        margin: 15px 22px;
    }
    .menu-mobile li a{
        font-size: 29px;
        text-decoration: none;
        color: #fff;
        padding: 15px 0;
        transition: ease-in-out 0.5s;
        text-shadow: #000 2px 2px 5px;
    }
    dialog img{
        width: 100vw;
        height: 25vh;
    }
}